<div class="contaier">
  <div class="row">
    <div class="col col-lg-3">
      <form (ngSubmit)="onSignup(f)" #f="ngForm">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" name="email" id="email" ngModel required 
          placeholder="Email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" id="password" ngModel required
          aria-describedby="passwordHelpId" placeholder="Password">
          <small id="passwordHelpId" class="form-text text-muted">Password must exceed 8 letters</small>
        </div>
        <button class=btn btn-primary type="submit">Sign Up</button>
      </form>
    </div>
  </div>
</div>
