<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="home">DS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="mainNav">
    <ul class="navbar-nav mr-auto">
      <li *ngFor="let navItem of navigationListItems" class="nav-item" 
      [class.active]="selectedNav == navItem.text"
      (click)="onSelectedNav(navItem.text)">
        <a routerLink="{{ navItem.route }}" class="nav-link">{{ navItem.text }}</a>
      </li>
    </ul>
  </div>
</nav>
