<div class="row justify-content-center" *ngIf="loading">
  <h3>loading</h3>
</div>
<div *ngIf="!loading">
  <div class="row">
    <div class="col-2">
      <h3 class="text-center">{{filteredHeroes.length}} / {{heroes.length}}</h3>
      <hr>
      <input type="text" class="form-control" id="heroFilter" [(ngModel)]="heroFilter" placeholder="Hero search...">
      <div class="list-group">
          <button type="button" class="list-group-item list-group-item-action" 
          *ngFor="let role of heroRoles" [class.active]="selectedRoles.includes(role)"
          (click)="selectFilter(role)" (click)="filterHeroesByRole()">{{role}}
          <span class="badge badge-primary badge-pill"></span>
        </button>
          <hr>
          <button class="btn btn-primary" (click)="clearFilters()">Clear</button>
        </div>
    </div>
    <div class="col-10">
      <div class="row">
        <div class="col-2 heroCard" *ngFor="let hero of filteredHeroes | contains: heroFilter :'localized_name' ">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <div class="row">
                <div class="col-9">
                  <h5 class="card-title">{{hero.localized_name}}</h5>
                </div>
                <div class="col-3">
                  <i class="d2mh" [ngClass]="hero.localized_name | lowercase | replace "></i>
                </div>
              </div>
              <p class="card-text">
                <span *ngFor="let role of hero.roles">{{role}} </span>
              </p>
              <a routerLink="heroes/{{hero.id}}" class="btn btn-primary">Details</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
