<div class="row justify-content-center" *ngIf="loading">
  <h3>loading</h3>
</div>
<div *ngIf="!loading">
  <div class="row justify-content-center">
    <ul class="nav">
      <li class="nav-item" *ngFor="let role of heroRoles" (click)="selectFilter(role)" (click)="filterHeroesByRole()">
        <button type="button" class="btn btn-outline-primary" [class.btn-primary]="selectedRoles.includes(role)" [class.btn-outline-primary]="!selectedRoles.includes(role)">{{role}}</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-primary" (click)="clearFilters()">Clear</button>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-2 heroCard" *ngFor="let hero of filteredHeroes">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <div class="row">     
            <div class="col-9">
                <h5 class="card-title">{{hero.localized_name}}</h5>
            </div>
            <div class="col-3">
                <i class="d2mh" [ngClass]="hero.localized_name | lowercase | replace "></i>
            </div>    
          </div>
          <p class="card-text">
            <span *ngFor="let role of hero.roles">{{role}} </span>
          </p>
          <a href="#" class="btn btn-primary">Details</a>
        </div>
      </div>
    </div>
  </div>
</div>
