<form class="col-3">
  <div class="form-group">
    <label for="">Choose League:</label>
    <input type="text" class="form-control" list="dotaLeagues" 
    [(ngModel)]="inputLeagueName" ngModel name="inputLeagueName"
      (focusout)="onFocusOutLeagueName()">
    <datalist id="dotaLeagues">
      <option *ngFor="let league of leagues" [value]="league.name">{{league.leagueid}}</option>
    </datalist>
  </div>
</form>
<!-- <button class="btn btn-primary" (click)="getLeagueIdByName()">Get League Details</button>
<button class="btn btn-primary" (click)="getMatchesForSelectedLeague()">Get Matches</button>
<button class="btn btn-primary" (click)="getHeroPickes()">Get Hero Picks</button> -->

